{% extends 'base.html' %}

{% block title %}Confirmer la Suppression{% endblock %}

{% block content %}
<div class="page-header">
    <h2>Confirmer la Suppression</h2>
</div>

<div class="detail-view">
    <p>Êtes-vous sûr de vouloir supprimer la note de "{{ object.etudiant }}" à l'examen "{{ object.examen }}" ?</p>
    <form method="post">
        {% csrf_token %}
        <div class="detail-actions">
            <button type="submit" class="btn btn-danger">Oui, supprimer</button>
            <a href="{% url 'notes:note_detail' object.pk %}" class="btn btn-secondary">Annuler</a>
        </div>
    </form>
</div>
{% endblock %}